@import "mixins";
@import "variables";

.player {
	@include boxShadow(2px 2px 4px 2px, rgba(0, 0, 0, 0.75));
	margin-bottom: $base-unit * 2;
	padding: $base-unit * 2;
	display: flex;
}

.player__basic {
	img {
		border-radius: 50%;
		height: 100px;
		width: 100px;
	}

	h2 {
		margin-top: $base-unit * 2;
	}
}

.player__information {
	flex-direction: column;
	flex-grow: 1;

	h4 {
		margin-bottom: $base-unit;
	}
}

.player__list {
	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
}

.player__item {
	padding-bottom: $base-unit * 2;
	justify-content: flex-start;
	flex-direction: row;
	flex: 1 0 100%;
	display: flex;

	@media (min-width: $mobile-breakpoint) {
		flex-direction: column;
		flex: 1 0 33%;
	}

	@media (min-width: $desktop-breakpoint) {
		flex-direction: column;
		flex: 1 0 25%;
	}
}

.player__title {
	padding: 0 $base-unit $base-unit;
	color: $secondary-color;
	flex-grow: 1;

	@media (min-width: $mobile-breakpoint) {
		padding: 0 0 $base-unit;
	}
}

.player__stats--show {
	padding: $base-unit 0;

	a {
		color: $tertiary-color;
		text-decoration: none;
	}
}