@import "variables";
@import "mixins";

.search__inner{
	font-size: 2rem;
	display: flex;
	justify-content: center;
	padding: $base-unit * 5;
	background-image: url('https://willelmadrileno.files.wordpress.com/2011/03/futbol-003.jpg');
	background-size: cover;
}
.search__form {
	min-width: 60%;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	padding: $base-unit * 5 $base-unit * 10;
}
.search__input {
	padding: $base-unit $base-unit * 2;
	text-align: center;
	font-size: 1rem;
	border: 1px solid $lines;
	min-width: 50%;
	margin-bottom: $base-unit;

	&:focus {
		outline: none;
	}
}

.search__button {
	background: $primary-color;
	color: #ffffff;
	font-size: 1rem;
	padding: $base-unit $base-unit * 2;
	text-decoration: none;
}