@import "variables";
@import "mixins";

.search__inner{
	background-image: url('https://willelmadrileno.files.wordpress.com/2011/03/futbol-003.jpg');
	justify-content: center;
	padding: $base-unit * 5;
	background-size: cover;
	font-size: 2rem;
	display: flex;
}
.search__form {
	padding: $base-unit * 5 $base-unit * 10;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	min-width: 60%;
}
.search__input {
	padding: $base-unit $base-unit * 2;
	margin-bottom: $base-unit;
	border: 1px solid $lines;
	text-align: center;
	font-size: 1rem;
	min-width: 50%;

	&:focus {
		outline: none;
	}
}

.search__button {
	padding: $base-unit $base-unit * 2;
	background: $primary-color;
	text-decoration: none;
	font-size: 1rem;
	color: #ffffff;
}